:root {
  --backgroung-color: rgb(45, 132, 45);
  --card-background-color: rgb(255, 255, 255, 0.5);
  --shadow-color: rgb(43, 69, 24);
  --shadow-color-glass: rgba(168, 165, 165, 0.5);
  --cube-color-background: rgb(255, 0, 0, 0.6);
}

body {
  padding: 0;
  margin: 0;
}

section {
  /* background-image: url("../IMGS/sumflover.jfif"); */
  background-repeat: repeat-y;
  background-size: contain;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--backgroung-color);
}

.card {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--card-background-color);
  box-shadow: 10px 10px 20px var(--shadow-color-glass);
  backdrop-filter: blur(1px);
  border-radius: 5px;
}

.rotaton {
  position: absolute;
  animation-name: carmoving;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.vertical {
  position: absolute;
  animation-name: moveVertical;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

.horizontal {
  position: absolute;
  animation-name: moveHorizontal;
  z-index: 5;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes carmoving {
  from {
    top: 10%;
    left: 10%;
  }

  25% {
    top: 50%;
    left: 10%;
    transform: rotate(-90deg);
  }

  50% {
    top: 50%;
    left: 50%;
    transform: rotate(-180deg);
  }

  75% {
    top: 10%;
    left: 50%;
    transform: rotate(-270deg);
  }

  to {
    top: 10%;
    left: 10%;
    transform: rotate(-360deg);
  }
}

@keyframes moveVertical {
  from {
    top: 10%;
    left: 60%;
  }

  to {
    top: 60%;
    left: 60%;
  }
}

@keyframes moveHorizontal {
  from {
    top: 30%;
    left: 20%;
    transform: rotate3d(1, 1, 0, 180deg);
    /* transform-style: preserve-3d; */
  }

  to {
    top: 30%;
    left: 60%;
    /* transform: rotate3d(0, 1, 1, 360deg);
    transform-style: preserve-3d; */
  }
}

.cube {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  font-size: 100px;
  animation: cubeRotate, cubeMovement;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  transform-style: preserve-3d;
}

.front {
  position: absolute;
  transform: translateZ(50px) rotateY(0deg);
  background-color: var(--cube-color-background);
  border: 0.5px solid red;
}

.back {
  position: absolute;
  transform: rotateY(180deg) translateZ(50px);
  z-index: -1;
  background-color: var(--cube-color-background);
  border: 0.5px solid red;
}

.left {
  position: absolute;
  transform: rotateY(-90deg) translateZ(50px);
  background-color: var(--cube-color-background);
  border: 0.5px solid red;
}

.right {
  position: absolute;
  transform: rotateX(-90deg) translateZ(50px);
  background-color: var(--cube-color-background);
  border: 0.5px solid red;
}

.top {
  position: absolute;
  transform: rotate3d(0, 1, 0, 90deg) translateZ(50px);
  background-color: var(--cube-color-background);
  border: 0.5px solid red;
}

.bottom {
  position: absolute;
  transform: rotateX(90deg) translateZ(50px);
  background-color: var(--cube-color-background);
  border: 0.5px solid red;
}

@keyframes cubeRotate {
  to {
    top: 50%;
    left: 50%;
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

@keyframes cubeMovement {
  from {
    top: 20%;
    left: 20%;
  }

  to {
    top: 60%;
    left: 60%;
  }
}
