@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

$line--color: rgb(30, 65, 94);
$hover--color: rgb(3, 13, 36);

* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#root {
  width: 100%;
  height: 100vh;

  .container {
    position: relative;
    width: 100%;
    height: 100vh;

    .input--container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      height: 50%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      form {
        width: 65%;
        height: 50%;
        background-color: rgb(90, 161, 219);
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: left;
        div {
          position: relative;
          width: 70%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: left;
          padding-right: 10px;

          #name-input,
          #age-input {
            width: 80%;
            height: 30px;
            background-color: transparent;
            border: none;
            outline: none;
          }

          .name--span:before,
          .age--span::before {
            color: rgb(33, 51, 102);
            position: absolute;
            font-size: 22px;
            letter-spacing: 3px;
            pointer-events: none;
            transition: all 0.8s;
          }
          .name--span:after,
          .age--span::after {
            width: 80%;
            height: 2px;
            content: "";
            position: absolute;
            background-color: $line--color;
          }

          .name--span:after {
            top: 70px;
            left: 0;
          }

          .age--span::after {
            top: 140px;
            left: 0;
          }

          .name--span:before {
            content: "Name here";
          }

          .age--span::before {
            content: "Age here";
          }

          .moveUp:before {
            font-size: 18px;
            transition: all 0.3s;
            transform: translateY(-20px);
          }

          #submit-input {
            width: 120px;
            height: 25px;
            border: none;
            background-color: $line--color;
            transition: all 0.4s;
            color: white;
          }

          #submit-input:hover {
            background-color: $hover--color;
            letter-spacing: 2px;
          }
        }
        p {
          width: 55%;
          padding-top: 15px;
        }
      }
    }
  }
}
