:root {
  --top-width: 50%;
  --top-height: 50%;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  position: relative;
}

#root .container {
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(192, 188, 188);
}

.container > div {
  width: 100px;
  height: 100px;
}

.dot__circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 50%;
}

.dot__inner {
  width: 30px;
  height: 30px;
  position: absolute;
  top: var(--top-width);
  left: var(--top-height);
  transform: translate(-50%, -50%);
  background-color: bisque;
  border-radius: 50%;
  transition: all 1s;
}
.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: translateDot;
  animation-duration: 3s;
}

.dot > div {
  background-color: red;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation: backgroundColorTransp;
  animation-duration: 1s;
  animation-delay: 0s;
  /* animation-timing-function: ease-out; */
}

@keyframes translateDot {
  to {
    transform: translate(600%, 600%);
  }
}

@keyframes backgroundColorTransp {
  to {
    background-color: transparent;
  }
}
