@font-face {
  font-family: myFontFamily;
  src: url('./../font-families/PlayfairDisplay-VariableFont_wght.ttf');
}

body {
  #root {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(42 0 57);
    color: white;
    font-family: myFontFamily;
    font-weight: 500;

    h1 {
      text-align: center;
      font-size: 40px;
      width: 50%;
      height: 20%;
    }

    .cards-container {
      position: relative;
      height: 80%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .card-items {
        position: relative;
        transition: all 1s;
        box-sizing: border-box;
        margin: 10px;

        .card {
          position: relative;
          display: flex;
          flex-direction: column;
          background-color: rgba(50, 11, 66, 0.178);
          backdrop-filter: blur(10px);
          height: 250px;
          width: 210px;
          z-index: 100;
          border-radius: 5px;

          .progress-svg-item {
            display: flex;
            justify-content: center;
          }
        }
        p {
          position: absolute;
          top: 24%;
          left: 33%;
          font-size: 60px;
          height: fit-content;
          display: flex;
          align-items: flex-end;
          color: white;
          span {
            font-size: 20px;
            height: fit-content;
          }
        }

        &:hover {
          button {
            animation-name: activate;
            animation-duration: 1s;
            animation-fill-mode: forwards;
          }
        }

        @keyframes activate {
          50% {
            top: 105%;
          }
          100% {
            top: 95%;
            z-index: 200;
          }
        }

        button {
          position: absolute;
          top: 95%;
          left: 50%;
          transform: translate(-50%, 0);
          width: fit-content;
          height: 18%;
          padding: 0 20px;

          color: white;
          text-transform: uppercase;
          font-weight: 900;
          border: none;
          border-radius: 10px;
          z-index: 0;

          &.inactivate {
            animation-name: inactive;
            animation-duration: 1s;
            animation-fill-mode: forwards;
          }

          @keyframes inactive {
            0% {
              top: 95%;
              z-index: 200;
            }
            50% {
              top: 105%;
              z-index: 200;
            }
            100% {
              top: 95%;
              z-index: 0;
            }
          }

          &.purple {
            background-color: rgb(147 2 56);
          }
          &.blue {
            background-color: rgb(28, 75, 141);
          }
          &.green {
            background-color: rgb(2, 147, 53);
          }
        }
      }

      .line {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        background-color: rgb(190, 51, 190);
        width: 100%;
        height: 40px;
      }
    }
  }
}
